%font1{
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
%font2{
	font-family: 'Abel', sans-serif;
}
%font3{
	font-family: 'Inconsolata', sans-serif;
}

// general
//--------------------------------------------------------------------

%blow{
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	display: block;
}
%clearfix{
	zoom: 1;
	&:before,&:after{
		content: "";
		display: block;
	}
	&:after {
		clear: both;
	}
}
%hover{
	@include transition(opacity ease 0.3s);
	&:hover{
		@include opacity(0.7);
	}
}

%container {
	@extend %clearfix;
	max-width: $size-max;
	padding: 0 $gutter;
	margin: 0 auto;
}

%row {
	@extend %clearfix;
	margin-left: -$gutter;
	width: 100% + $gutter;
	*padding-right: 1%;
}