/* ===================================================================

setting

=================================================================== */
.header h1, .nav-content ul li, .content p {
  font-family: 'Codystar', cursive; }

html {
  font-size: 62.5%; }

body {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1; }

a {
  text-decoration: none;
  color: #189de5;
  outline: none;
  text-decoration: none; }
  a:hover {
    color: #676767;
    text-decoration: underline; }

::-moz-selection {
  color: #fff; }

::selection {
  color: #fff; }

/* ===================================================================

reset style

=================================================================== */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: 1;
  word-break: break-all; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

img {
  vertical-align: bottom; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, div, address, iframe, canvas, hr, textarea {
  display: block;
  line-height: 1; }

a, label {
  cursor: pointer; }

blockquote {
  padding: 0;
  margin: 0;
  display: block; }

address, em {
  font-style: normal; }

hr {
  border: 0;
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

textarea {
  resize: vertical;
  overflow: hidden;
  -webkit-appearance: none;
  border: none; }

input, button, select {
  vertical-align: middle;
  border-radius: 0px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  -webkit-appearance: none; }

table {
  border-collapse: collapse; }

*:before,
*:after {
  padding: 0;
  margin: 0;
  line-height: 1; }

/* ===================================================================

common style

=================================================================== */
html, body {
  height: 100%; }

#contents {
  background: url("../images/bg.jpg") #000 no-repeat;
  background-size: cover; }

.header {
  width: 100%;
  z-index: 3; }
  .header h1 {
    text-align: center;
    font-size: 25px;
    font-size: 2.5rem;
    padding: 20px 40px 20px 0px;
    color: #fff; }
  .header .header__heading {
    background: #000;
    position: absolute;
    width: 100%;
    z-index: 3; }

.nav-content {
  position: absolute;
  width: 100%;
  top: -735px;
  z-index: 2;
  -webkit-transition: 1.5s top;
          transition: 1.5s top; }
  .nav-content ul li {
    font-size: 22px;
    font-size: 2.2rem; }
    .nav-content ul li a {
      text-align: center;
      display: block;
      padding: 20px 0px;
      color: #fff; }

.is-open .nav-content {
  top: 65px; }

#js-cover {
  background: #000;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  opacity: 0;
  z-index: 1; }

.menu-button {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 14px;
  top: 15px; }
  .menu-button i {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: #fff;
    -webkit-transition: background 0.5s;
            transition: background 0.5s;
    position: relative;
    left: 5px;
    top: 14px; }
    .menu-button i:before,
    .menu-button i:after {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      border-radius: 3px;
      background: #fff;
      position: absolute;
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: all 0.3s !important;
              transition: all 0.3s !important; }
    .menu-button i:before {
      -webkit-transform: translateY(8px);
          -ms-transform: translateY(8px);
              transform: translateY(8px);
      -webkit-transition: top 0.5s;
              transition: top 0.5s; }
    .menu-button i:after {
      -webkit-transform: translateY(-8px);
          -ms-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-transition: bottom 0.5s;
              transition: bottom 0.5s; }

.is-open .menu-button i {
  background: #000; }
  .is-open .menu-button i:after {
    -webkit-transform: translateY(0px) rotate(-45deg);
        -ms-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
    bottom: 0px; }
  .is-open .menu-button i:before {
    -webkit-transform: translateY(0px) rotate(45deg);
        -ms-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
    top: 0px; }

.content {
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .content p {
    color: #fff;
    position: relative;
    bottom: -80px;
    text-align: center; }
