/* ===================================================================

setting 変数定義をここに記載していく

=================================================================== */

// color //
$key_c1:#cc0000; //キーカラー1

// clum width
$gutter: 0;
$size_max: 1020px;

// font
%font1{
	font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}