/* ===================================================================

setting

=================================================================== */
#header h1 {
  font-family: 'Poiret One', cursive; }

html {
  font-size: 62.5%; }

body {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1; }

a {
  text-decoration: none;
  color: #189de5;
  outline: none;
  text-decoration: none; }
  a:hover {
    color: #676767;
    text-decoration: underline; }

::-moz-selection {
  color: #fff; }

::selection {
  color: #fff; }

/* ===================================================================

reset style

=================================================================== */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: 1;
  word-break: break-all; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

img {
  vertical-align: bottom; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, div, address, iframe, canvas, hr, textarea {
  display: block;
  line-height: 1; }

a, label {
  cursor: pointer; }

blockquote {
  padding: 0;
  margin: 0;
  display: block; }

address, em {
  font-style: normal; }

hr {
  border: 0;
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

textarea {
  resize: vertical;
  overflow: hidden;
  -webkit-appearance: none;
  border: none; }

input, button, select {
  vertical-align: middle;
  border-radius: 0px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  -webkit-appearance: none; }

table {
  border-collapse: collapse; }

*:before,
*:after {
  padding: 0;
  margin: 0;
  line-height: 1; }

/* ===================================================================

common style

=================================================================== */
html, body {
  height: 100%;
  color: #fff;
  background: -webkit-gradient(radial, 50% 18%, 0, 50% 18%, 120, color-stop(1, #000), color-stop(0.63, #1c1c1c), color-stop(0, #333));
  background: -webkit-radial-gradient(50% 18%, circle, #333 0%, #1c1c1c 63%, #000 100%);
  background: radial-gradient(50% 18%, circle, #333 0%, #1c1c1c 63%, #000 100%); }

#header {
  padding: 100px 0px; }
  #header h1 {
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-size: 6rem;
    letter-spacing: 1px;
    text-shadow: 0px 0px 14px #000; }

.content {
  width: 100%;
  overflow: hidden;
  margin-bottom: 200px; }

.icon-animation {
  width: 20%;
  height: 200px;
  float: left;
  display: block;
  background: rgba(255, 255, 255, 0.02);
  position: relative; }
  .icon-animation span {
    width: 50px;
    height: 1px;
    display: block;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px; }

.type-1 span {
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }

.type-1 .top {
  -webkit-transform: translateY(-17px);
      -ms-transform: translateY(-17px);
          transform: translateY(-17px); }

.type-1 .bottom {
  -webkit-transform: translateY(17px);
      -ms-transform: translateY(17px);
          transform: translateY(17px); }

.type-1.is-open .middle {
  background: rgba(255, 255, 255, 0); }

.type-1.is-open .top {
  -webkit-transform: rotate(-45deg) translateY(0px);
      -ms-transform: rotate(-45deg) translateY(0px);
          transform: rotate(-45deg) translateY(0px); }

.type-1.is-open .bottom {
  -webkit-transform: rotate(45deg) translateY(0px);
      -ms-transform: rotate(45deg) translateY(0px);
          transform: rotate(45deg) translateY(0px); }

.type-2 span {
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }

.type-2 .top {
  -webkit-transform: translateY(-17px);
      -ms-transform: translateY(-17px);
          transform: translateY(-17px); }

.type-2 .bottom {
  -webkit-transform: translateY(17px);
      -ms-transform: translateY(17px);
          transform: translateY(17px); }

.type-2:hover .top {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px); }

.type-2:hover .bottom {
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px); }

.type-2.is-open .middle {
  background: rgba(255, 255, 255, 0); }

.type-2.is-open .top {
  -webkit-transform: rotate(-45deg) translateY(0px);
      -ms-transform: rotate(-45deg) translateY(0px);
          transform: rotate(-45deg) translateY(0px); }

.type-2.is-open .bottom {
  -webkit-transform: rotate(45deg) translateY(0px);
      -ms-transform: rotate(45deg) translateY(0px);
          transform: rotate(45deg) translateY(0px); }

.type-3 span {
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }

.type-3 .middle {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px); }

.type-3 .top {
  -webkit-transform: translateY(-17px);
      -ms-transform: translateY(-17px);
          transform: translateY(-17px); }

.type-3 .bottom {
  -webkit-transform: translateY(17px);
      -ms-transform: translateY(17px);
          transform: translateY(17px); }

.type-3.is-open .middle {
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  background: rgba(255, 255, 255, 0); }

.type-3.is-open .top {
  -webkit-transform: rotate(-45deg) translateY(0px);
      -ms-transform: rotate(-45deg) translateY(0px);
          transform: rotate(-45deg) translateY(0px); }

.type-3.is-open .bottom {
  -webkit-transform: rotate(45deg) translateY(0px);
      -ms-transform: rotate(45deg) translateY(0px);
          transform: rotate(45deg) translateY(0px); }

.type-4 span {
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transform: translateY(0px) !important;
      -ms-transform: translateY(0px) !important;
          transform: translateY(0px) !important; }

.type-4 .top {
  margin-top: -17px;
  -webkit-transform: rotate(0deg) !important;
      -ms-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important; }

.type-4 .bottom {
  margin-top: 17px;
  -webkit-transform: rotate(0deg) !important;
      -ms-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important; }

.type-4.is-open .middle {
  background: rgba(255, 255, 255, 0); }

.type-4.is-open .top {
  -webkit-transform: rotate(-405deg) !important;
      -ms-transform: rotate(-405deg) !important;
          transform: rotate(-405deg) !important;
  margin-top: 0px; }

.type-4.is-open .bottom {
  -webkit-transform: rotate(405deg) !important;
      -ms-transform: rotate(405deg) !important;
          transform: rotate(405deg) !important;
  margin-top: 0px; }

.type-5 .inner {
  width: 50px;
  height: 50px;
  margin: auto;
  position: relative;
  padding: 75px 0; }

.type-5 span {
  -webkit-transition: width 0.2s, right 0.2s, left 0.2s;
          transition: width 0.2s, right 0.2s, left 0.2s; }

.type-5 .top {
  -webkit-transform: translateY(-17px);
      -ms-transform: translateY(-17px);
          transform: translateY(-17px);
  left: 0px;
  right: 0px; }

.type-5 .middle {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  position: relative;
  background: none; }
  .type-5 .middle:before, .type-5 .middle:after {
    content: "";
    -webkit-transition: all 0.2s;
            transition: all 0.2s;
    display: block;
    position: absolute;
    width: 50px;
    height: 1px;
    left: -25px;
    background: #fff;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }

.type-5 .bottom {
  -webkit-transform: translateY(17px);
      -ms-transform: translateY(17px);
          transform: translateY(17px);
  left: 0px;
  right: 0px; }

.type-5.is-open .top {
  left: 100%;
  width: 0px; }

.type-5.is-open .middle:before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.type-5.is-open .middle:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.type-5.is-open .bottom {
  right: 100%;
  width: 0px; }

.type-6 span {
  position: relative;
  -webkit-transition: 0.3s opacity;
          transition: 0.3s opacity; }

.type-6 .top {
  -webkit-animation: type6-top 0.5s;
          animation: type6-top 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.type-6 .middle {
  -webkit-transition: .5s opacity;
          transition: .5s opacity;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  opacity: 1; }

.type-6 .bottom {
  -webkit-animation: type6-bottom 0.5s;
          animation: type6-bottom 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.type-6.is-open .middle {
  opacity: 0;
  -webkit-transition: .5s opacity;
          transition: .5s opacity; }

.type-6.is-open .top {
  -webkit-animation: type6-top-close 0.5s;
          animation: type6-top-close 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.type-6.is-open .bottom {
  -webkit-animation: type6-bottom-close 0.5s;
          animation: type6-bottom-close 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes type6-top {
  0% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-17px) rotate(0deg);
            transform: translateY(-17px) rotate(0deg); } }

@keyframes type6-top {
  0% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-17px) rotate(0deg);
            transform: translateY(-17px) rotate(0deg); } }

@-webkit-keyframes type6-bottom {
  0% {
    -webkit-transform: translateY(-1px) rotate(45deg);
            transform: translateY(-1px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(15px) rotate(0deg);
            transform: translateY(15px) rotate(0deg); } }

@keyframes type6-bottom {
  0% {
    -webkit-transform: translateY(-1px) rotate(45deg);
            transform: translateY(-1px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(15px) rotate(0deg);
            transform: translateY(15px) rotate(0deg); } }

@-webkit-keyframes type6-top-close {
  0% {
    -webkit-transform: translateY(-17px) rotate(0deg);
            transform: translateY(-17px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg); } }

@keyframes type6-top-close {
  0% {
    -webkit-transform: translateY(-17px) rotate(0deg);
            transform: translateY(-17px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg); } }

@-webkit-keyframes type6-bottom-close {
  0% {
    -webkit-transform: translateY(15px) rotate(0deg);
            transform: translateY(15px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-1px) rotate(45deg);
            transform: translateY(-1px) rotate(45deg); } }

@keyframes type6-bottom-close {
  0% {
    -webkit-transform: translateY(15px) rotate(0deg);
            transform: translateY(15px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-1px) rotate(45deg);
            transform: translateY(-1px) rotate(45deg); } }

.type-7 span {
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }

.type-7 .top {
  -webkit-transform: translateY(-17px) scale(1);
      -ms-transform: translateY(-17px) scale(1);
          transform: translateY(-17px) scale(1); }

.type-7 .middle {
  background: none;
  position: relative; }
  .type-7 .middle:before, .type-7 .middle:after {
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    content: "";
    width: 50px;
    height: 1px;
    background: #fff;
    display: block;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    position: absolute; }

.type-7 .bottom {
  -webkit-transform: translateY(17px) scale(1);
      -ms-transform: translateY(17px) scale(1);
          transform: translateY(17px) scale(1); }

.type-7.is-open .top {
  -webkit-transform: translateY(0px) scale(0);
      -ms-transform: translateY(0px) scale(0);
          transform: translateY(0px) scale(0); }

.type-7.is-open .bottom {
  -webkit-transform: translateY(0px) scale(0);
      -ms-transform: translateY(0px) scale(0);
          transform: translateY(0px) scale(0); }

.type-7.is-open .middle:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.type-7.is-open .middle:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.type-8 span {
  position: relative;
  background: none;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  .type-8 span:before, .type-8 span:after {
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    content: "";
    width: 25px;
    height: 1px;
    display: block;
    background: #fff;
    position: absolute; }
  .type-8 span:before {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1; }
  .type-8 span:after {
    -webkit-transform: translateX(25px);
        -ms-transform: translateX(25px);
            transform: translateX(25px);
    opacity: 1; }

.type-8 .top {
  -webkit-transform: translateY(-17px);
      -ms-transform: translateY(-17px);
          transform: translateY(-17px); }

.type-8 .middle {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px); }

.type-8 .bottom {
  -webkit-transform: translateY(17px);
      -ms-transform: translateY(17px);
          transform: translateY(17px); }

.type-8.is-open .middle:before {
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0; }

.type-8.is-open .middle:after {
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0; }

.type-8.is-open .top {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px); }
  .type-8.is-open .top:before {
    -webkit-transform: translateX(8px) rotate(45deg);
        -ms-transform: translateX(8px) rotate(45deg);
            transform: translateX(8px) rotate(45deg); }
  .type-8.is-open .top:after {
    -webkit-transform: translateX(25px) rotate(-45deg);
        -ms-transform: translateX(25px) rotate(-45deg);
            transform: translateX(25px) rotate(-45deg); }

.type-8.is-open .bottom {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px); }
  .type-8.is-open .bottom:before {
    -webkit-transform: translateX(8px) rotate(-45deg);
        -ms-transform: translateX(8px) rotate(-45deg);
            transform: translateX(8px) rotate(-45deg); }
  .type-8.is-open .bottom:after {
    -webkit-transform: translateX(25px) rotate(45deg);
        -ms-transform: translateX(25px) rotate(45deg);
            transform: translateX(25px) rotate(45deg); }

.type-9 span {
  -webkit-transition: all 0.4s 0.4s;
          transition: all 0.4s 0.4s; }
  .type-9 span:before, .type-9 span:after {
    content: ""; }

.type-9 .top {
  -webkit-transform: translateY(-17px);
      -ms-transform: translateY(-17px);
          transform: translateY(-17px); }

.type-9 .middle {
  position: relative;
  background: none; }
  .type-9 .middle:after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute; }
  .type-9 .middle:before {
    content: "";
    -webkit-transition: all 0.4s;
            transition: all 0.4s;
    width: 50px;
    display: block;
    height: 1px;
    background: #fff;
    -webkit-transform: translateY(0px) translateX(0px);
        -ms-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
    opacity: 1; }

.type-9 .bottom {
  -webkit-transform: translateY(17px);
      -ms-transform: translateY(17px);
          transform: translateY(17px); }

.type-9.is-open .bottom {
  -webkit-transform: translateY(0px) rotate(45deg);
      -ms-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg); }

.type-9.is-open .top {
  -webkit-transform: translateY(0px) rotate(-45deg);
      -ms-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg); }

.type-9.is-open .middle:before {
  -webkit-transform: translateY(0px) translateX(100px);
      -ms-transform: translateY(0px) translateX(100px);
          transform: translateY(0px) translateX(100px);
  opacity: 0; }

.type-9.is-open .middle:after {
  content: "";
  -webkit-animation: type9-circle 0.5s;
          animation: type9-circle 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes type9-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
    border: 1px solid #fff; }
  100% {
    opacity: 0;
    border: 1px solid #fff;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@keyframes type9-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
    border: 1px solid #fff; }
  100% {
    opacity: 0;
    border: 1px solid #fff;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }
