/* ===================================================================

footer style

=================================================================== */
#footer{
  margin:100px 0 0;
  text-align: center;
  padding: 20px 0;
  background:lighten($key_font,45%);
}