/* ===================================================================

footer style

=================================================================== */

#footer{
  text-align: center;
  padding: 20px 0;
  color: $sakura;
}