@charset "UTF-8";
/* ===================================================================

template style

=================================================================== */
/* ===================================================================

setting 変数定義をここに記載していく

=================================================================== */
/* ===================================================================

define style

=================================================================== */
/* ===================================================================

mixin style

=================================================================== */
/* ===================================================================

icon style

=================================================================== */
/*
compassを使ったspriteのscssです。
アイコン画像を"sprites/icons"フォルダに入れると、"sprites/"にスプライト画像が吐き出されます。
コメントアウトを外して使ってください。
*/
/*アイコンを表示させたいときは、<i>に.iconクラスを振ってください*/
.icon {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/sprites/icons.png');
}

/*アイコンをテキストの左右に配置したいときは、<i>に.icon_mクラスを振ってください*/
.icon_m {
  position: absolute;
  top: 50%;
}
