//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$base-font-family: 'Comfortaa', cursive;
$base-font-size: 14px;
$base-font-color: #333;
$base-background-color: #f1f7fa;
