<%
var title = 'GoogleMapの埋め込みと、デザインやアイコンの変更などをカスタマイズする方法'
%>

<%- include('/partials/header', { title }) -%>

<div class="wrapper">
  <h1>Google map customize</h1>
  <div id="js-map-taeget" class="map"></div>
</div>

<%- include('/partials/footer') -%>
