/* ===================================================================

setting 変数定義をここに記載していく

=================================================================== */

// color //
$font:#2a2a2a; //キーカラー1
$white:#fff;
$green:#6bc5ad;
$orange:#fc9b18;

// clum width
$gutter: 0;
$size_max: 1080px;